*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

.header_icons{
    float: left;
    padding-right: 3px;
    font-size: 18px;
}

.searchBarInput{
    float: left;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.searchBarButton{
    float: left;
    display: inline-block;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
}

.item_count{
    color: #fff;
    background-color: #ff0000;
    padding: 0px 4px;
    border-radius: 10px;
    display: none;
    font-weight: bold;
}

.table td{
    width: 200px;
}

.table td input{
    width: 100px;
    display: inline;
}

.form_table{
    width: 100%;
}

.form_table tr{

}

.form_table td{
    /*text-align: center;*/ 
    padding: 5px 10px;
}

.form_div{
    display: table;
}

.form_btn{
    width: auto; 
    float:left;
    display: table-cell;
}