*{
    margin:0px;
    padding: 0px;
    font-family: sans-serif;
}

.header_icons{
    float: left;
    padding-right: 3px;
    font-size: 18px;
}

.searchBarInput{
    float: left;
    display: inline-block;
    border-bottom-right-radius: 0;
    border-top-right-radius: 0;
}

.searchBarButton{
    float: left;
    display: inline-block;
    border-bottom-left-radius: 0;
    border-top-left-radius: 0;
    border-left: 0;
}

.caption h4 {
    /*color: #000;*/
    /*    text-align: center;*/
    padding: 5px 0px;
    font-weight: bold;
    font-size: 14px;
    /*border-bottom: 1px solid #ccc;*/
}

.product_title{
    height: 90px;
    /*background-color: #ccc;*/
}

.product_offer{
    height: 55px;
    /*background-color: #777;*/
    font-style: italic;
    font-size: 12px;
    font-weight: bold;
    color: #ff884e;
}

.product_offer i{
    font-size: 15px;
}

.price_btn{
    /*background-color: #ccc;*/
}

.price_btn p{
    font-size: 20px;
    font-weight: bold;
}

.item_count{
    color: #fff;
    background-color: #ff0000;
    padding: 0px 4px;
    border-radius: 10px;
    display: none;
    font-weight: bold;
}

.table td{
    width: 200px;
}

.table td input{
    width: 100px;
    display: inline;
}

.form_table{
    width: 100%;
}

.form_table tr{

}

.form_table td{
    /*text-align: center;*/ 
    padding: 5px 10px;
}

.form_div{
    display: table;
}

.form_btn{
    width: auto; 
    float:left;
    display: table-cell;
}